* {
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  border: solid grey 2px;
  background-color: #404041;
  color: #dd1972;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

h1 {
  margin-bottom: .5rem;
}

h2 {
  color: #fff;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
  display: flex;
  background: transparent;
}

h2:before, 
h2:after {
  color: white;
  content:'';
  flex: 1;
  border-bottom: solid 1px;
  margin: auto 0.25em; 
}

#header-text {
  height: 200px;
  width: 560px;
  margin: 0 auto;
}

h3 {
  color: #404041;
  margin: 10;
}

.label-field {
  display: inline-block;
  width: 30%;
}

.update-range {
/*  display: flex;
  justify-content: space-around;*/
  display: inline;
}

label {
  color: 404041;
}

button:enabled {
  background-color: #6e6e6e;
  color: white;
  font-size: .8rem;
  text-transform: uppercase;
  width: 80%;
  border-radius: 25px;
}

button:disabled {
  background-color: #D0D2D3;
  color: white;
  font-size: .8rem;
  text-transform: uppercase;
  width: 80%;
  border-radius: 25px;
}

.flexbuttons {
  display: flex;
  justify-content: space-between;
}

.guess-button {
  width: 25%
  border-radius: 25px;
  margin: 2%;
}

.score {
  text-align: center;
}

.light {
  font-weight: 300;
}

main {
  display: flex;
  justify-content: center;
}

section {
  margin-width: 2%;
  width: 50%;
}

.section-one {
  margin-top: 0%;
  background-color: #F7F7F7;
}

.section-two {
  padding: 2%;
}

.card {
  height: 300px;
}

form {
  /*border: solid black 1px;*/
  background-color: #fff;
  padding: 1rem;
  margin: 1rem;
  border: solid #D0D2D3 2px;
}

article {
  /*border: dotted black 1px;*/
  background-color: #fff;
  padding: 1rem 0rem 1rem 1rem;
  margin: 1rem;
}

.score {
  display: inline-block;
  width: 40%;
  padding: 1rem 0rem 1rem 0rem;
  margin: 1rem;
  }

.pink-guess {
  color: #DD1972;
  font-size: 3rem;
  font-weight: 700;
}

ul {
  padding: 0;
  display: flex;
}

li {
  list-style-type: none;
  justify-content: space-around;
}
