body {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
}

header {
  border: solid grey 2px;
  margin: 0;
}

main {
  display: flex;
}

section {
  margin: 0;
}

form {
  border: solid black 1px;
}

article {
  border: dotted black 1px;
}

.score-challenger-one, .score-challenger-two {
  border: solid black 1px;
  display: inline-block;
  }

ul {
  padding: 0;
  display: flex;
}

li {
  list-style-type: none;
  justify-content: space-around;
}
